Options -Indexes

# Protect hidden files from being viewed
<Files .*>
    Order Deny,Allow
    Deny From All
</Files>

<IfModule mod_rewrite.c>
    # Turn on URL rewriting
    RewriteEngine on

    # Installation directory
    RewriteBase /

    # Allow any files or directories that exist to be displayed directly
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .* - [L]

    # Rewrite all other URLs to index.php
    RewriteRule .* index.html [L,QSA]
</IfModule>
